@import "../main/color";
@import "../main/fonts";
@import "../main/breakpoints";


.aboutmepage{
    background: $main-background;
    background-image: -webkit-linear-gradient(
    172deg,
    $secondary-background 50%,
    $main-background 50%
  );
    width: 100%;
    overflow: hidden;
    height: 100vh;


    @include break(small) {
        background-image: unset;
      }

    .aboutme{
        &-outer{
            // background: $main-background;
            
            min-width: 100%;
            height: 100vh;
            display: flex;
            
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .heading{
                color: $secondary-background;
                font-family: $secondary-font;
                display: flex;
                justify-content: flex-end;
                padding-right: 15%;
                // margin-bottom: 6%;
                @include break(small) {
                    font-size: small;
                    margin: 0;
                    height: 3rem;
                  }

                &-left{
                    color: $secondary-background;
                    margin-right: 10px; 
                }
                &-right{
                    color: #EDF4F2;
                }
            }
            
        }
    
        &-inner{
            width: 100%;
            height: 66%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include break(small) {
                height: 100%;
                align-items: unset;
                
              }
        }
    }
}
