@import "../main/color";
@import '../main/breakpoints';
@import '../../sass/main/fonts';

.navbar {
  &-outer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    // background-color:$secondary-background;
    padding: 0 5%;
    max-width: 100%;
    padding: 0 3% 0 20%;

    @include break(tablet) {
      flex-direction: row; 
    }

    &-profile-image{
      width: 60px;
      height: 3rem;
      border-radius: 0.25rem;
    }
    

    &-text {
      display: flex;
      gap: 1%;
      
      
      &-links{
        font-size: 1rem;
        color: white;
        // transition: text-shadow 0.5s ease;
        font-family: $primary-font;
        font-weight: bold;
        transition: 0.5s;
        width: 122px;
        text-transform: uppercase;
        border-radius: 20px;
        
        
        
  
        &:hover {
          color: black;
          cursor: pointer;
          // animation: shadow-glow 1.5s infinite alternate ease-in-out;
          // transform: scale(1.3);
          background-color: white;
          // border-radius: 10%;
  
          
        } 
      }
    }
  }
}

.link{
  text-decoration: none;
}