// $main-background : #e7e8d1;
// $secondary-background : #b85042;

$main-background : #EDF4F2;
$secondary-background : #31473A;

$third-background :#1D1D1D;

$main-fontcolor :#ADEFD1FF;

$main-bordercolor:white;
$main-borderRadius:20px;

// $main-background : #D7D7D7;
// $secondary-background : black;

