// $main-background : #1fbfb8;
// $secondary-background : #031163;

// $main-background : #f3ca20;
// $secondary-background : #000000;

// $main-background : #FEE715FF;
// $secondary-background : #101820FF;
// $main-background : #D6ED17FF;
// $secondary-background : #606060FF;
// $main-background : #ADEFD1FF;
// $secondary-background : #00203FFF;

$main-background : #EDF4F2;
$secondary-background : #032F30;

$third-background :#1D1D1D;

$main-fontcolor :#ADEFD1FF;

$main-bordercolor:white;
$main-borderRadius:20px;

// $main-background : #D7D7D7;
// $secondary-background : black;

// $main-background : #F1F4FFFF;
// $secondary-background : #A2A2A1FF;