@import "../main/color";
@import "../main/fonts";
@import "../main/breakpoints";

.homepage {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: $main-background;
  background-image: -webkit-linear-gradient(
    172deg,
    $secondary-background 50%,
    $main-background 50%
  );
  @include break(small) {
		background-image: -webkit-linear-gradient(104deg, #31473A 27%, #EDF4F2 50%);
	}
  

  .homepage-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &-outer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    // gap: 2%;
    // color: $main-fontcolor;
    // background: $main-background;
    position: relative; // Ensures other content stays in the right layer above the video
    z-index: 1;

    @include break(small) {
      flex-direction:column;
      justify-content: flex-start;
      margin-top: 14%;
    }
  }

  &-inner {
    // background: red;
    width: 100%;
    // transform: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    &-title {
      font-family: $secondary-font;
      animation-name: move;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
    }
    &-right {
      height: 100%;
      @include break(small) {
        display: none;
      }

      .hero-image {
        width: 100%;
        height: 100%;
      }
      &-text{
        font-family: $secondary-font;
      }
    }
    &-left {
      color: $secondary-background;
      margin-top: 10%;

      &-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-family: $secondary-font;
        @include break(small) {
          align-items: center;
        }
        @include break(tablet) {
          align-items: center;
        }

        .first {
          font-size: 1.25rem;
        }
        .second {
          font-size: 2rem;
          margin: 7% 0 0 0;
        }
        .third {
          color: #909090;
        }
        .fourth {
          color: #909090;
          height: 41px;
          width: 192px;
          background-color: $secondary-background;
          color: #c4c4c4;
          border-radius: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 10%;
          cursor: pointer;
          transition: 0.5s;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

          &:hover {
            background: $secondary-background;
            color: $main-background;
            animation: 1.5s infinite alternate ease-in-out;
            transform: scale(1.1);
          }
          a {
            text-decoration: none;
            color: inherit;
            padding: 0;
          }
        }
        .social-media {
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-start;
          gap: 7%;
          @include break(small) {
            justify-content: center;
          }
          @include break(tablet) {
            justify-content: center;
          }
        }
        .social-media-icons {
          height: 50px;
          width: 50px;
          background-color: #c4c4c4;
          border-radius: 20%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 85%;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          transition: 0.5s;

          &:hover {
            animation: 1.5s infinite alternate ease-in-out;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
}
