@import "../main/color";
@import "../main/fonts";

.homepage {
  &-outer {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    gap: 2%;
    background: $main-background;
    
  }
  &-inner-left {
    height: 50%;
    width: 50%;
  }
  &-inner-right {
    height: 50%;
    width: 50%;
    
  }
}

.experiance{
    color: $main-fontcolor;
    font-size: 1.5rem;
    font-family: $secondary-font;
}


