@import "../main/color";
@import "../main/fonts";
@import "../main/breakpoints";

.roundcard-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    @include break(small) {
      height: 100%;
    }
  

  // .roundcard-nav-left,
  // .roundcard-nav-right {
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   cursor: pointer;
  //   transition: filter 0.3s ease;

  //   img {
  //     width: 50px;
  //     height: 50px;
  //   }
  // }

  .roundcard-nav-left {
    left: -60px; // Adjust based on desired position
    filter: brightness(0.7); // Darker initial color
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: filter 0.3s ease;
    @include break(small) {
      left: 16%;
      top: 0;
      transform: translateY(-50%);

      
    }
    img {
      width: 50px;
      height: 50px;
      @include break(small) {
        width: 35px;
        height: 35px;
      }
    }
  }

  .roundcard-nav-right {
    right: -60px; // Adjust based on desired position
    filter: brightness(0.7); // Darker initial color
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: filter 0.3s ease;
    @include break(small) {
      right: 16%;
      top: 0;
      
    }
    img {
      width: 50px;
      height: 50px;
      @include break(small) {
        width: 35px;
        height: 35px;
      }
    }
  }

  .roundcard-outer {
    width: 900px;
    min-height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background: $main-background;
    background-image: -webkit-linear-gradient(
      172deg,
      $main-background 50%,
      $secondary-background 50%
    );
    border-radius: 20px;
    display: flex;
    align-items: center;

    @include break(small) {
      // background-image: -webkit-linear-gradient(104deg, #31473A 27%, #EDF4F2 50%);
      background: transparent;
      box-shadow: none;
      width: 100%;
      height: 100%;
      
    }
  }

  .roundcard-inner {
    width: 100%;
    height: 100%;

    .default-content {
      display: flex;
      flex-direction: row;
      width: 100%; 
      justify-content: space-evenly;
      align-items: flex-start;
      height: 100%;
      @include break(small) {
        flex-direction: column;
      }

      &-left {
        width: 100%;
        height: 100%;
        font-family: $secondary-font;
        // margin-top: 10%;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        padding: 20px;
        color: $main-background;
        @include break(small) {
          max-width: 90%;
          font-size: 0.7rem;
          font-weight: 500;
          color: $secondary-background;
          text-align: justify;
          height: 300px;
          font-size: 1rem;
          padding: 20px 20px 0 20px;
          
        }
      }

      &-right {
        width: 100%;
        height: 100%;
        @include break(small) {
          
        }

        .title {
          font-size: 1.2rem;
          font-weight: bold;
          // margin-bottom: 1%;
          color: $secondary-background;
          font-family: $secondary-font;
          display: flex;
          height: 2.5rem;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 5%;

          @include break(small) {
            padding-left: 0;
            margin-bottom: 0;
            height: 1rem;
            font-size: 1rem;
            align-items: flex-start;
            color: $secondary-background;
            padding-left: 5%;
            margin-top: 10%;

          }
        }

        .skills {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
          justify-items: center;
          margin-top: 4%;
          @include break(small) {
            margin-top: 10%;
            gap:30px;

          }

          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            @include break(small) {
              width: 40px;
              height: 40px;
  
            }
          }
        }
      }
    }

    .projects {
      &-container {
        height: 100%;
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        @include break(small) {
          flex-direction: column;

        }

        &-left {
          width: 83%;
          height: 300px;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          padding: 20px;
          color: $main-background;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          @include break(small) {
            color: $secondary-background;
            height: 80%;
  
          }
          .project-title{
            font-size: 1.3rem;
            width: 100%;
            font-weight: bold;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-start;
            @include break(small) {
              justify-content: center;
    
            }
          }
          .project-content{
            text-align: left;
          }
        }

        &-right {
          width: 100%;
          height: 200px;
          border: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          @include break(small) {
            align-items: flex-start;
            height: 100%;
            
          }
          &-link{
            display: flex;
            justify-content: center;
          }

          img {
            height: 100%;
            width: 50%;
            @include break(small) {
              width: 50%;
              height: 50%;
              
            }
          }
        }
      }
    }
    form {
      height: 100%;
    }
    .contactme {
      &-container {
        height: 100%;
        @include break(small) {
          max-width: 90%;
          margin-left: 5%;
        }
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        height: 100%;
        @include break(small) {
          flex-direction: column;
        }

        &-left {
          width: 83%;
          height: 100%;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: left;
          padding: 20px;
          color: $main-background;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-left:6%;
          @include break(small) {
            width: 100%;
            padding: 0;
            margin-bottom: 0;
          }

          &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;
            width: 100%;
            &-lable {
              @include break(small) {
                width: 100%;
                color: $secondary-background;
              }
  
            }
            &-input {
              margin-top: 2%;
              width: 70%;
              height: 1.5rem;
              border-radius: 20px;
              background: $main-background;
              padding: 2% 5%;
              box-shadow: 0 4px 6px rgba(114, 114, 114, 0.541);
              border: none;
              @include break(small) {
                width: 100%;
                padding: 2% 0 2% 2%;
              }

            }
          }
          &-email {
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;
            width: 100%;

            &-lable {
              @include break(small) {
                width: 100%;
                color: $secondary-background;

              }
  
            }
            &-input {
              margin-top: 2%;
              width: 70%;
              height: 1.5rem;
              border-radius: 20px;
              background: $main-background;
              padding: 2% 5%;
              box-shadow: 0 4px 6px rgba(114, 114, 114, 0.541);
              border: none;
              @include break(small) {
                width: 100%;
                padding: 2% 0 2% 2%;

              }
            }
          }
          &-alert{
            width: 70%;
            // margin-top: 10%;
          }
        }

        &-right {
          width: 100%;
          height: 100%;
          border: none;
          display: flex;
          margin-top: 1%;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font-family: $secondary-font;
          font-size: 1.5rem;
          padding-left:6%;
          @include break(small) {
            padding-left:0;
            justify-content: flex-start;

          }

          &-lable {
            color: $secondary-background;
            margin-bottom: 2%;
            font-size: 1.5rem;

            @include break(small) {
              width: 100%;
            }

          }
          &-input {
            width: 80%;
            border-radius: 20px;
            background: $secondary-background;
            color:$main-background;
            height: 8%;
            transition: 0.5s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            border: none;
            padding: 7px 0;
            // margin-left: 58%;
            @include break(small) {
              width: 100%;
              margin-top: 5%;
              height: 14%;
            }

            &:hover{
              background:$secondary-background;
              color:$main-background;
              animation:1.5s infinite alternate ease-in-out;
              transform: scale(1.1);
            }
          }
          &-textarea {
            height: 153px;
            width: 290px;
            border-radius: 20px;
            margin-bottom: 2%;
            padding: 5%;
            border: none;
            background: $main-background;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            @include break(small) {
              width: 100%;
              padding: 0;

            }
          }
        }
      }
    }
    .experience {
      &-container {
        height: 100%;
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        @include break(small) {
          flex-direction: column-reverse;
        }
        

        &-left {
          width: 83%;
          height: 100%;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: left;
          padding: 20px;
          gap:50px;
          color: $main-background;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;

          @include break(small) {
            color: $secondary-background;
            gap:0;
          }

          &-heading {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
          }
          .languages {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-circle {
              background: $main-background;
              color: $secondary-background;
              border-radius: 20px;
              width: 71px;
              height: 28px;
              font-weight: bolder;
              display: flex;
              justify-content: center;
              font-size: x-small;
              align-items: center;
              @include break(small) {
                background: $secondary-background;
                color: $main-background;
              }
            }
          }
        }

        &-right {
          width: 100%;
          height: 300px;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          @include break(small) {
            height:50%;
            justify-content: flex-start;
            margin-top: 10%;
          }

          img {
            height: 80%;
            width: 60%;
            @include break(small) {
              height: 181px;
              width: 200px;
            }
          }
          .companyName {
            color: $secondary-background;
            font-family: $secondary-font;
            font-weight: 700;
          }
        }
      }
    }
  }

  // Lighten arrow colors on hover
  .roundcard-nav-left:hover,
  .roundcard-nav-right:hover {
    filter: brightness(1);
  }
}

