@import "../main/color";
@import "../main/fonts";
@import "../main/breakpoints";

.roundcard-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .roundcard-nav-left,
  .roundcard-nav-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: filter 0.3s ease;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .roundcard-nav-left {
    left: -60px; // Adjust based on desired position
    filter: brightness(0.7); // Darker initial color
  }

  .roundcard-nav-right {
    right: -60px; // Adjust based on desired position
    filter: brightness(0.7); // Darker initial color
  }

  .roundcard-outer {
    width: 900px;
    min-height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background: $main-background;
    background-image: -webkit-linear-gradient(
      172deg,
      $main-background 50%,
      $secondary-background 50%
    );
    border-radius: 20px;

    @include break(small) {
      // background-image: -webkit-linear-gradient(104deg, #31473A 27%, #EDF4F2 50%);
      background: transparent;
      box-shadow: none;
      width: 100%;
      height: 100%;
      
    }
  }

  .roundcard-inner {
    width: 100%;
    height: 100%;

    .default-content {
      display: flex;
      flex-direction: row;
      width: 100%; 
      justify-content: space-evenly;
      align-items: flex-start;
      height: 100%;
      @include break(small) {
        flex-direction: column;
      }

      &-left {
        width: 100%;
        height: 100%;
        font-family: $secondary-font;
        // margin-top: 10%;
        font-size: 1rem;
        line-height: 1.5;
        text-align: left;
        padding: 20px;
        color: $main-background;
        @include break(small) {
          max-width: 90%;
          font-size: 0.7rem;
          font-weight: 500;
          color: $secondary-background;
          text-align: justify;
          height: 300px;
          font-size: 1rem;
          
        }
      }

      &-right {
        width: 100%;
        height: 100%;
        @include break(small) {
          
        }

        .title {
          font-size: 1.2rem;
          font-weight: bold;
          // margin-bottom: 1%;
          color: $secondary-background;
          font-family: $secondary-font;
          display: flex;
          height: 2.5rem;
          justify-content: flex-end;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 5%;

          @include break(small) {
            padding-left: 0;
            margin-bottom: 0;
            height: 1rem;
            font-size: 1rem;
            align-items: flex-start;
            color: $main-background;
            padding-left: 5%;

          }
        }

        .skills {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
          justify-items: center;
          margin-top: 4%;
          @include break(small) {
            margin-top: 10%;
            gap:30px;

          }

          img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            @include break(small) {
              width: 40px;
              height: 40px;
  
            }
          }
        }
      }
    }

    .projects {
      &-container {
        height: 100%;
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        &-left {
          width: 83%;
          height: 100%;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: left;
          padding: 20px;
          color: $main-background;
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &-right {
          width: 100%;
          height: 100%;
          border: none;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          img {
            height: 60%;
            width: 75%;
          }
        }
      }
    }
    form {
      height: 100%;
    }
    .contactme {
      &-container {
        height: 100%;
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;

        &-left {
          width: 83%;
          height: 100%;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: left;
          padding: 20px;
          color: $main-background;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 5%;
          padding-left:6%;

          &-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;
            width: 100%;
            &-lable {
            }
            &-input {
              margin-top: 2%;
              width: 70%;
              height: 1.5rem;
              border-radius: 20px;
              background: $main-background;
              padding: 2% 5%;
              box-shadow: 0 4px 6px rgba(114, 114, 114, 0.541);
              border: none;

            }
          }
          &-email {
            margin-top: 10%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.5rem;
            width: 100%;

            &-lable {
            }
            &-input {
              margin-top: 2%;
              width: 70%;
              height: 1.5rem;
              border-radius: 20px;
              background: $main-background;
              padding: 2% 5%;
              box-shadow: 0 4px 6px rgba(114, 114, 114, 0.541);
              border: none;
            }
          }
        }

        &-right {
          width: 100%;
          height: 100%;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font-family: $secondary-font;
          font-size: 1.5rem;
          padding-left:6%;

          &-lable {
            color: $secondary-background;
            margin-bottom: 2%;
          }
          &-input {
            width: 80%;
            border-radius: 20px;
            background: $secondary-background;
            color:$main-background;
            height: 8%;
            transition: 0.5s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            border: none;
            // margin-left: 58%;

            &:hover{
              background:$secondary-background;
              color:$main-background;
              animation:1.5s infinite alternate ease-in-out;
              transform: scale(1.1);
            }
          }
          &-textarea {
            height: 40%;
            width: 70%;
            border-radius: 20px;
            margin-bottom: 2%;
            padding: 5%;
            border: none;
            background: $main-background;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    .experience {
      &-container {
        height: 100%;
      }

      &-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        

        &-left {
          width: 83%;
          height: 100%;
          font-family: $secondary-font;
          font-size: 0.9rem;
          line-height: 1.5;
          text-align: left;
          padding: 20px;
          gap:50px;
          color: $main-background;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;

          &-heading {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            justify-content: space-between;
          }
          .languages {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-circle {
              background: $main-background;
              color: $secondary-background;
              border-radius: 20px;
              width: 71px;
              display: flex;
              justify-content: center;
              font-size: x-small;
            }
          }
        }

        &-right {
          width: 100%;
          height: 100%;
          border: none;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          img {
            height: 60%;
            width: 75%;
          }
          .companyName {
            color: $secondary-background;
            font-family: $secondary-font;
            font-weight: 700;
          }
        }
      }
    }
  }

  // Lighten arrow colors on hover
  .roundcard-nav-left:hover,
  .roundcard-nav-right:hover {
    filter: brightness(1);
  }
}

