@import "../main/color";
@import "../main/fonts";

.card-outer{
    background-color:$opacity-background;
    border:1px solid $main-bordercolor;
    border-radius: 0.5rem;
    width :100%;
    height:300px;
    display: flex;

    .card-inner{

    }
}